/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2015, 12:57:59 PM
    Author     : Elmira
*/
.show_av_days_table,
.show_av_days_table td{
    font-size: 13px;
    
}
.show_av_days_table th,
.show_av_days_table td{
    text-align: center;
    padding: 0;
    margin: 0;
}
.show_av_days_table th{
    padding: 7px 0px;
}
.days,.weeks{
    display: inline-block;
    padding: 5px;
}
.controls{
    background: #75CBF2;
}
.controls a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    cursor: pointer;
}
.controls a:hover{
    background: #148BC9;
    text-decoration: none;
}
.month-title{
    background: #148BC9;
    color: #fff;
}
.not-available{
    background-color: #ABABAB;   
}
.not-available span{
     text-decoration: line-through;
}
#post-id{
    display: none;
}
.admin-mode td.calDay{
    cursor: pointer;
}